{% extends 'base.html.twig' %}

{% block title %}Modifier un article{% endblock %}

{% block body %}
    <div class="container">
        <br><br>
        <h1 class="text-center">Modifier un article</h1>
        <br>
        {{form(articleForm)}}
    </div>
{% endblock %}