{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <div class="container">
        <br><br>
        {{form(userForm)}}
    </div>
{% endblock %}
